@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.nav {
  padding: 16px 32px;
  margin: 0;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.header-left {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

.header-right {
  /* background: grey; */
  width: 100%;
  height: 500px;
  position: relative;
}

.card {
  width: 200px;
  height: 400px;
}

.card-1 {
  position: absolute;
  top: 0;
  right: 48px;
  background: rgb(193, 233, 202);
}

.card-2 {
  position: absolute;
  top: 100px;
  right: 288px;
  background: rgb(132,199,214);
}

.card-3 {
  position: absolute;
  top: 200px;
  right: 528px;
  background: rgb(239,161,218);
}

.card-image { 
  margin-top: 32px;
  width: 200px;
  height: 200px;
}

.card-quote {
  padding: 16px;
  font-weight: 300;
}

.quote-name {
  text-align: right;
  padding: 0 16px;
  font-weight: 300;
}

.subtitle1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 1em;
}

.subtitle2 {
  font-size: 48px;
  font-weight: bold;
}

.description {
  font-weight: 300;
  font-size: 20px;
  margin-top: 16px;
  margin-right: 64px;
  margin-bottom: 16px;
}

.step-wrapper {
  width: 800px !important;
  padding-top: 128px;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.step {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.step-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.step-subtitle {
  margin-top: 16px;
  font-size: 20px;
  line-height: 2em;
}

.step-desc {
  font-weight: 300;
  line-height: 2em;
}

div {
  line-height: 1.5em;
}

.button {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 16px 32px;
  text-transform: uppercase;
  background: white;
  margin: 36px 0;
}
